.navmenu {
    display: flex;
    overflow: hidden;
}

.navmenu > span {
    text-align: center;
    text-decoration: none;
    background-color: aquamarine;
    padding: 1em;
    margin: 0;
}

.navmenu > span > a {
    text-decoration: none;
}

@media screen and (max-width: 750px) {
    .navmenu {
        flex-direction: column;
    }

    .navmenu > span {
        width: 100%;
    }
}

.post {
    background-color: azure;
    padding: 1em;
    margin: 1em;
    border-radius: 5px;
}

#id_posts {
    padding: 10px;
}